[buildout]
parts =
 uwsgi
 newWechat
show-picked-versions =true
eggs=
 newWechat
download-cache=${buildout:directory}/buildoutCache

develop=.


[uwsgi]
recipe =buildout.recipe.uwsgi
;download-url=http://projects.unbit.it/downloads/uwsgi-{0}.tar.gz
;version=2.0.15
output-format=ini

config-socket=127.0.0.1:8089
config-python-path =
    ${buildout:eggs-directory}/*
    ${buildout:directory}/app/*
    ${buildout:directory}/*
config-callable=app
config-module=run
config-pidfile = ${buildout:directory}/log/newWechat.pid
config-daemonize=${buildout:directory}/log/newWechat.log
config-master=true

[newWechat]
recipe=zc.recipe.egg
eggs= ${buildout:eggs}
interpreter =python

