<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">

    <title>出错啦~</title>
    <link type="text/css" rel="stylesheet" href="//cdn.bootcss.com/weui/1.0.2/style/weui.min.css">
    {#    <link type="text/css" rel="stylesheet" href="../static/css/weui.css">#}
    <link type="text/css" rel="stylesheet" href="../static/css/mycss.css">
</head>
<body>
<div class="page">
    <div class="weui-msg">
        <div class="weui-msg__icon-area"><i class="weui-icon-warn weui-icon_msg"></i></div>
        <div class="weui-msg__text-area">
            <h2 class="weui-msg__title">访问超时</h2>
            <p class="weui-msg__desc">链接已过期,请重新点击链接进行访问</p>
        </div>
        <div class="weui-msg__opr-area">
            <p class="weui-btn-area">
                <a href="javascript:history.back();" class="weui-btn weui-btn_default">返回</a>
            </p>
        </div>
        <div class="weui-msg__extra-area">
            <div class="weui-footer">
                <p class="weui-footer__links">
                    <a href="javascript:void(0);" class="weui-footer__link">Zyt</a>
                </p>
                <p class="weui-footer__text">UI designed by weui.io</p>
            </div>
        </div>
    </div>
</div>
<script src="//cdn.bootcss.com/jquery/3.1.0/jquery.min.js" language="JavaScript"></script>
<script src="../static/js/myjs.js" language="JavaScript"></script>
<script src="//cdn.bootcss.com/zepto/1.2.0/zepto.min.js" language="JavaScript"></script>
{#<script src="../static/js/zepto.min.js" language="JavaScript"></script>#}
</body>
</html>